@import url(normalyze.css);

:root {
	--White: #ffffff;
	--Black: #000000;
	--red-45: #e50000;
	--red-50: #ff0000;
	--red-55: #ff1919;
	--red-60: #ff3333;
	--red-80: #ff9999;
	--red-90: #ffcccc;
	--red-95: #ffe5e5;
	--red-99: #fffafa;
	--black-06: #0f0f0f;
	--black-08: #141414;
	--black-10: #1a1a1a;
	--black-12: #1f1f1f;
	--black-15: #262626;
	--black-20: #333333;
	--black-25: #404040;
	--black-30: #4c4c4c;
	--grey-60: #999999;
	--grey-65: #a6a6a6;
	--grey-70: #b3b3b3;
	--grey-75: #bfbfbf;
	--grey-90: #e4e4e7;
	--grey-95: #f1f1f3;
	--grey-97: #f7f7f8;
	--grey-99: #fcfcfd;
}

body {
	font-family: 'Manrope', sans-serif;
	background-color: var(--black-08);
}
.container {
	max-width: 1600px;
	margin: 0 auto;
}

.head {
	background-image: url(../image/photo/main-bg-head.jpg);
	background-repeat: no-repeat;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 22px 0;
}
.header__nav-list {
	display: flex;
	padding: 10px;
	background-color: var(--black-06);
	border: 4px solid;
	border-color: var(--black-12);
	border-radius: 12px;
}
.header__nav-item {
	padding: 14px 24px;
	flex-grow: 1;
	color: var(--White);
}
.active-nav {
	background-color: var(--black-10);
	border-radius: 8px;
}
.nav__item-link {
	color: var(--White);
}
.header__icons {
	display: flex;
	gap: 30px;
}
.header__icon-center {
	display: grid;
	place-items: center;
	margin-top: 64px;
	margin-bottom: 131px;
}
.header__title {
	color: var(--White);
	font-size: 58px;
	font-weight: 700;
	text-align: center;
}
.header__text {
	font-size: 18px;
	font-weight: 400;
	margin: 0 auto;
	margin-top: 14px;
	margin-bottom: 50px;
	max-width: 1100px;
	text-align: center;
	color: var(--grey-60);
}
.header__button {
	background-color: var(--red-45);
	padding: 18px 24px;
	display: flex;
	display: 4px;
	align-items: center;
	margin: 0 auto;
	border-radius: 8px;
}
.button__text {
	color: var(--White);
	font-size: 18px;
	font-weight: 600;
}
.category {
	margin-top: 227px;
}
.category__top {
	display: flex;
	justify-content: space-between;
}
.top__text-title {
	font-size: 38px;
	font-weight: 700;
	color: var(--White);
	margin-bottom: 14px;
}
.top__text-text {
	font-size: 18px;
	font-weight: 400;
	color: var(--grey-60);
}
.category__slider {
	display: flex;
	align-items: center;
	gap: 16px;
	padding: 16px;
	background-color: var(--black-06);
	border: 1px solid;
	border-color: var(--black-12);
	border-radius: 12px;
}
.category__slider-left {
	padding: 14px;
	background-color: var(--black-10);
	border: 1px solid;
	border-color: var(--black-12);
	border-radius: 8px;
}
.slider__line-list {
	display: flex;
	gap: 3px;
}
.slider__line-item {
	width: 16px;
	height: 4px;
	background-color: var(--black-20);
	border-radius: 100px;
}
.active-slider {
	background-color: var(--red-45);
	width: 23px;
}
.category__slider-right {
	padding: 14px;
	background-color: var(--black-10);
	border: 1px solid;
	border-color: var(--black-12);
	border-radius: 8px;
}
.category__cards {
	display: flex;
	gap: 30px;
	margin-top: 80px;
}
.category__card {
	padding: 28px;
	background-color: var(--black-10);
	border: 1px solid;
	border-radius: 12px;
	border-color: var(--black-15);
}
.category__card-images {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}
.category__card-bottom {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}
.card__bottom-text {
	color: var(--White);
	font-size: 18px;
	font-weight: 600;
}
.devices {
	margin-top: 134px;
}
.devices__title {
	color: var(--White);
	font-size: 38px;
	font-weight: 700;
	margin-bottom: 14px;
}
.devices__text {
	font-size: 18px;
	font-weight: 400;
	color: var(--grey-60);
	max-width: 1300px;
}
.devices__cards {
	display: grid;
	grid-template-columns: repeat(3, 2fr);
	gap: 30px;
	margin-top: 80px;
}
.devices__card {
	background: linear-gradient(to top right, #000000, #2c0000);
	padding: 50px;
	border-radius: 12px;
	border: 1px solid;
	border-color: var(--black-15);
}
.devices__card-top {
	display: flex;
	align-items: center;
	gap: 16px;
}
.deviced__card-icon {
	width: 72px;
	height: 72px;
	background-color: var(--black-08);
	border-radius: 12px;
	border: 1px solid;
	border-color: var(--black-12);
}
.card__top-icon {
	padding: 16px;
}
.card__top-title {
	color: var(--White);
	font-size: 24px;
	font-weight: 600;
}
.devices__card-text {
	font-size: 18px;
	font-weight: 400;
	color: var(--grey-60);
	margin-top: 30px;
}
.faq {
	margin-top: 150px;
}
.faq__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.faq__top-title {
	font-size: 38px;
	font-weight: 700;
	color: var(--White);
}
.faq__top-text {
	font-size: 18px;
	font-weight: 400;
	color: var(--grey-60);
}
.faq__top-button {
	color: var(--White);
	background-color: var(--red-45);
	padding: 18px 24px;
	font-weight: 600;
	border-radius: 8px;
}
.faq__question-list {
	display: grid;
	grid-template-columns: repeat(2, 4fr);
	margin-top: 80px;
}
.hidden {
	display: none;
}
.faq__question-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 34px;
	margin-right: 80px;
}
.faq__question-left {
	display: flex;
	gap: 20px;
	align-items: center;
}
.faq__question-number {
	font-size: 20px;
	font-weight: 600;
	color: var(--White);
	padding: 20px;
	background-color: var(--black-12);
	border: 1px solid;
	border-color: var(--black-15);
	border-radius: 10px;
}
.faq__question-question {
	font-size: 22px;
	font-weight: 500;
	color: var(--White);
}
.price {
	margin-top: 150px;
}
.price__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.prise__texts {
}
.price__title {
	font-size: 38px;
	font-weight: 700;
	color: var(--White);
	margin-bottom: 14px;
}
.price__text {
	font-size: 18px;
	font-weight: 400;
	color: var(--grey-60);
}
.price__cards {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	margin-top: 80px;
}
.price__card {
	padding: 50px;
	background-color: var(--black-10);
	border: 1px solid;
	border-color: var(--black-15);
	border-radius: 12px;
}
.price__card-title {
	font-size: 24px;
	font-weight: 700;
	color: var(--White);
}
.price__card-text {
	font-size: 18px;
	font-weight: 400;
	color: var(--grey-60);
	margin-top: 16px;
}
.price__card-plan {
	display: flex;
	margin-top: 50px;
}
.card__plan-price {
	font-size: 40px;
	font-weight: 600;
	color: var(--White);
}
.card__plan-time {
	color: var(--grey-60);
	font-size: 18px;
	font-weight: 500;
	margin-top: 22px;
}
.price__card-buttons {
	display: flex;
	gap: 20px;
	margin-top: 50px;
}
.card__buttons-free {
	padding: 18px 24px;
	color: var(--White);
	background-color: var(--black-08);
	border: 1px solid;
	border-color: var(--black-15);
	border-radius: 8px;
}
.card__buttons-choose {
	padding: 18px 44px;
	color: var(--White);
	background-color: var(--red-45);
	border-radius: 8px;
}
.start__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 100px 80px;
	background-color: var(--black-06);
	margin-top: 150px;
	border-radius: 12px;
	border: 1px solid;
	border-color: var(--black-15);
}
.content__texts-title {
	font-size: 48px;
	font-weight: 700;
	color: var(--White);
}
.content__texts-text {
	font-size: 18px;
	font-weight: 400;
	color: var(--grey-60);
}
.start__content-button {
	background-color: var(--red-45);
	padding: 18px 24px;
	color: var(--White);
	border-radius: 8px;
	font-weight: 600;
}
.footer {
	background-color: var(--black-06);
	padding: 100px 162px 50px;
	margin-top: 150px;
}
.footer__nav-list {
	display: flex;
	justify-content: space-between;
}
.footer__nav-item {
	color: var(--White);
}
.nav__item-title {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 24px;
}
.nav__item-list {
	color: var(--grey-60);
}
.item__list-item {
	margin-bottom: 14px;
}
.nav__item-item:last-child {
	margin-bottom: 0;
}
.contact__item-list {
	display: flex;
	gap: 14px;
}
.item__list-icon {
	padding: 16px;
	background-color: var(--black-10);
	border-radius: 8px;
	border: 1px solid;
	border-color: var(--black-15);
}
.copyrighting {
	padding-top: 24px;
	display: flex;
	border-top: 1px solid;
	border-color: var(--black-15);
	margin-top: 100px;
	justify-content: space-between;
}
.copyrighting__streamvibe {
	color: var(--grey-60);
}
.copyrighting__documents-list {
	display: flex;
}
.copyrighting__documents-item {
	color: var(--grey-60);
	border-right: 1px solid;
	border-color: var(--black-15);
	padding: 0 20px;
}
.copyrighting__documents-item:last-child {
	border-right: none;
	padding-right: 0;
}
